<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="storemedicals.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="storemedicals.Properties.Settings.MEDICAL_STOREConnectionString" connectionString="Data Source=DESKTOP-7E69R8K;Initial Catalog=MEDICAL_STORE;Persist Security Info=True;User ID=sa;Password=12345;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup>
    <userSettings>
        <storemedicals.Properties.Settings>
            <setting name="server" serializeAs="String">
                <value>DESKTOP-2P8DRRT\AFGAD</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>MEDICAL_STORE</value>
            </setting>
            <setting name="Mode" serializeAs="String">
                <value>SQL</value>
            </setting>
            <setting name="ID" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>sa1</value>
            </setting>
        </storemedicals.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-17.0.0.0" newVersion="17.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
